body {
    font-family: comic sans-serif, Helvetica, sans-serif;
    background: #b7f7e6;
}

#content {
    width: 600px;
    margin: 20px auto;
    padding: 10px 35px;
    background: #FFFFFF;
    border: 5px solid #cccccc;
}

h1 {
	text-align: center;
    color: #c983f7
}

p {
	color: gold;
	font-weight:bolder;
	text-align: center;
}

label {
    display: block;
    width: 20em;
    text-align: right;
    padding-right: 1em;
    float: left;
}

input {
    display: block;
    float: left;
    width: 75px;
}

#futureValue {
    color: #408cff;
}

br {
    clear: left;
}