body {
    font-family: Arial, Helvetica, sans-serif;
    background: #408cff;
}

#content {
    width: 600px;
    margin: 10px auto;
    padding: 5px 20px;
    background: #FFFFFF;
    border: 5px solid gold;
}

h1 {
	text-align: center;
}

p {
	color: blue;
	font-weight: bold;
	text-align: center;
}

label {
    display: block;
    width: 20em;
    text-align: right;
    padding-right: 1em;
    float: left;
}

input {
    display: block;
    float: left;
    width: 100px;
}

#futureValue {
    color: #000000;
}

br {
    clear: left;
}